body{
  background-color: #f0ebeb;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  
  }
.main-container {
    display: grid;
    grid-template-columns: 15% 85%;
    border: 5cap;
    height: 100vh;
    width: 100vw;
    padding: 0;
    margin: 0;
  }
  #cotizaciones{
    background-color: #38b6a0;
  }
.container-listado-cotizaciones{
width: 100%;
height: 100%;
display: grid;
grid-template-rows: 25% auto;
padding-left: 7%;
padding-right: 7%
}
.hacercotizacion-nav{
padding-top: 6%;
padding-left: 10%;
padding-right: 10%;
width: auto;
}

/* tabla */
.tablacotizacion {
  width: 100%;
  border-collapse: collapse;
  border: 1px solid #ddd;
 
}

.tablacotizacion td, .tablacotizacion th {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

.tablacotizacion tr:last-child td {
  border-bottom: none;
}