<div class="main-nav">
    <div class="top-container">
        <div class="img-user">
            <img src="/static/imgs/empresa/img-user.jpg" alt="">
        </div>

        <div class="info-container">
            <b><p>Andres Pollito</p></b>
            <p>Empresa</p>
        </div>
    </div>

    <div class="mid-container">
        <hr>

        <div class="nav-menu-item active">
            <div class="icono-left-menu-item">
                <i class="fas fa-home"></i>
            </div>

            <div class="texto-left-menu-item">
                <label>
                    Home
                </label>
            </div>
        </div>

        <div class="nav-menu-item">
            <div class="icono-left-menu-item">
                <i class="fas fa-boxes"></i>
            </div>

            <div class="texto-left-menu-item">
                <label>
                    Inventario
                </label>
            </div>
        </div>

        <div class="nav-menu-item">
            <div class="icono-left-menu-item">
                <i class="fas fa-credit-card"></i>
            </div>

            <div class="texto-left-menu-item">
                <label>
                    Ordenes de compra
                </label>
            </div>
        </div>

        <div class="nav-menu-item">
            <div class="icono-left-menu-item">
                <i class="fas fa-calculator"></i>
            </div>

            <div class="texto-left-menu-item">
                <label>
                    Cotizaciones
                </label>
            </div>
        </div>

        <div class="nav-menu-item">
            <div class="icono-left-menu-item">
                <i class="fas fa-truck"></i>
            </div>

            <div class="texto-left-menu-item">
                <label>
                    Provedores
                </label>
            </div>
        </div>

        <hr>
    </div>

    <div class="bottom-container">
        <div class="nav-menu-item">
            <div class="icono-left-menu-item">
                <i class="fas fa-cog"></i>
            </div>

            <div class="texto-left-menu-item">
                <label>
                    Configuracion
                </label>
            </div>
        </div>
    </div>
</div>
