<div class="main-nav">
    <div class="top-container">
        <div class="img-user">
            <img src="/static/imgs/empresa/img-user.jpg" alt="">
        </div>

        <div class="info-container">
            <b><p>Tecnico Tecnico</p></b>
            <p>Tecnico</p>
        </div>
    </div>

    <div class="mid-container">
        <hr>
        
        <a
            href="/tecnico"
            class="nav-menu-item  {% if activo == 'home' %}active-link{% endif %}"
        >
            <div class="icono-left-menu-item">
                <i class="fas fa-home"></i>
            </div>

            <div class="texto-left-menu-item">
                <label>
                    Home
                </label>
            </div>
        </a>

        <a
            href="/tecnico/mantenimientos"
            class="nav-menu-item {% if activo == 'mantenimientos' %}active-link{% endif %}"
        >
            <div class="icono-left-menu-item">
                <i class="fas fa-cash-register"></i>
            </div>

            <div class="texto-left-menu-item">
                <label>
                    Mis mantenimientos
                </label>
            </div>
        </a>

        <hr>
    </div>

    <div class="bottom-container">
        <a
            class="nav-menu-item"
            href="/login"
        >
            <div class="icono-left-menu-item">
                <i class="fas fa-door-open"></i>
            </div>

            <div class="texto-left-menu-item">
                <label>
                    Cerrar sesión
                </label>
            </div>
        </a>
    </div>
</div>
