
/* ! MAIN */
html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

.main-container{
    height: 100%;
    width: 100%;

    display: grid;
    grid-template-columns: 18% 82%;

    box-sizing: border-box;
}

.main-container div{
    width: 100%;
    height: 100%;
}

/* ! LEFT-NAV */
.left-nav-wrapper{
    background-color: red;
}

.main-dashboard-empresa{
    width: 100%;
    height: 100%;

    display: grid;
    grid-template-rows: 25% 75%;
}

.main-dashboard-empresa .top-banner{
    width: 100%;

    padding: 10px 10%;
    box-sizing: border-box;

    /* background-color: red; */
}
